@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
nav {
  background: #87DE87;
  height: 101px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #333333;
  max-width: 1920px;
  margin: 0 auto; }
  nav .navigation__logo-text {
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    margin: 42.25px 0px 34.75px 108.24px; }
  nav .navigation__logo-background {
    height: 42px;
    width: 120px;
    padding: 24.5px 0px 34.75px 108px; }
  nav .navigation__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
    font-weight: 600; }
    nav .navigation__links .links__button {
      background: white;
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      padding-left: 12px;
      padding-right: 11px;
      color: #333333;
      margin-right: 108px;
      height: 40px;
      width: 128px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
      cursor: pointer; }

.banner {
  background-image: url(../images/intro-banner.png);
  background-repeat: no-repeat;
  height: 640px;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto; }
  .banner .banner__hero {
    width: 627px;
    max-width: 627px;
    height: 228px;
    background: #87DE87;
    margin-left: 196px; }
  .banner .hero__container {
    width: 595px;
    max-width: 595px;
    height: 228px;
    margin-left: 32px;
    background: #333333;
    color: white;
    padding-left: 24px;
    padding-right: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; }
    .banner .hero__container .hero__container-title {
      padding-top: 32px;
      padding-bottom: 24px;
      font-weight: 600;
      font-size: 48px;
      line-height: 56px; }

.card-section {
  padding: 120px 0 120px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 24px;
  max-width: 1704px;
  margin: 0 auto; }
  .card-section .card-section__title {
    grid-column: 1/4;
    color: #333333;
    text-align: center;
    padding-bottom: 86px;
    font-size: 48px;
    line-height: 56px; }
  .card-section .card-section__cards .card {
    background: #333333;
    font-size: 18px;
    color: #FEFEFE;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-right: 34px;
    padding-top: 32px; }
    .card-section .card-section__cards .card .card__titles {
      font-size: 24px;
      line-height: 28px; }
      .card-section .card-section__cards .card .card__titles p {
        padding-bottom: 5px;
        padding-left: 24px; }
    .card-section .card-section__cards .card .card__icon {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background: #87DE87;
      margin: 0px 0px 17px 32px; }
      .card-section .card-section__cards .card .card__icon img {
        width: 70px;
        padding-left: 25px;
        padding-top: 25px; }
      .card-section .card-section__cards .card .card__icon .card__icon-charger {
        padding-top: 30px; }
    .card-section .card-section__cards .card .card__text {
      grid-column: 1/4;
      margin-left: 31.88px;
      padding-bottom: 32px;
      font-weight: 400;
      line-height: 21px; }

.energy-section {
  background: #333333;
  color: #FEFEFE;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 96px; }
  .energy-section h1 {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    padding: 64px 0px 117px 0px; }
  .energy-section .energy-section__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 128px 0px;
    padding-bottom: 96px;
    max-width: 1704px;
    margin: 0 auto; }
    .energy-section .energy-section__container .container__image-one {
      width: 696px;
      height: 480px;
      background: #87DE87; }
    .energy-section .energy-section__container .container__text {
      max-width: 696px; }
      .energy-section .energy-section__container .container__text p {
        padding-bottom: 12px;
        line-height: 21.13px;
        font-size: 18px; }
      .energy-section .energy-section__container .container__text h2 {
        font-size: 36px;
        line-height: 42px;
        padding-bottom: 12px; }
    .energy-section .energy-section__container .container__text:first-child {
      padding-left: 144px; }
    .energy-section .energy-section__container #container__text-two {
      padding-right: 144px; }
    .energy-section .energy-section__container .container__image-two {
      width: 696px;
      height: 480px;
      background: #87DE87; }
      .energy-section .energy-section__container .container__image-two img {
        padding-left: 32px; }
  .energy-section .energy-section__button {
    display: flex;
    justify-content: center; }
    .energy-section .energy-section__button button {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      background: #87DE87;
      border-radius: 12px;
      border: none;
      width: 264px;
      height: 72px;
      cursor: pointer; }
      .energy-section .energy-section__button button p {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #333333; }

.submit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 120px 0;
  color: #333333; }
  .submit-section h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 24px; }
  .submit-section p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px; }
  .submit-section .submit-section__text {
    max-width: 840px;
    text-align: center;
    padding-bottom: 70px; }
  .submit-section .submit-section__submit {
    width: 668px;
    max-width: 668px;
    height: 64px;
    background: #FEFEFE;
    border: 1px solid #FEFEFE;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 20px; }
    .submit-section .submit-section__submit .submit-section__submit-input {
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      border: none; }
    .submit-section .submit-section__submit input {
      outline: none;
      width: 380px; }
    .submit-section .submit-section__submit .submit-section__submit-button {
      background: #87DE87;
      border-radius: 12px;
      cursor: pointer;
      border: none;
      width: 128px;
      height: 48px; }
      .submit-section .submit-section__submit .submit-section__submit-button p {
        color: #333333;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase; }

.contact-section {
  background: #87DE87;
  max-width: 1920px;
  margin: 0 auto;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px; }
  .contact-section .contact-section__logo {
    padding: 48px 0 30px 108px; }
  .contact-section .contact-section__containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .contact-section .contact-section__containers .contact-section__containers-info {
      display: flex;
      flex-direction: column;
      padding: 0 250px 0 108px; }
      .contact-section .contact-section__containers .contact-section__containers-info h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 10px; }
      .contact-section .contact-section__containers .contact-section__containers-info p {
        padding-bottom: 10px; }
      .contact-section .contact-section__containers .contact-section__containers-info p:nth-child(3) {
        padding-bottom: 18px; }
      .contact-section .contact-section__containers .contact-section__containers-info p:last-child {
        padding-bottom: 96px; }
    .contact-section .contact-section__containers .contact-section__containers-links {
      display: flex;
      flex-direction: column; }
      .contact-section .contact-section__containers .contact-section__containers-links a {
        padding-bottom: 10px; }
      .contact-section .contact-section__containers .contact-section__containers-links h3 {
        font-weight: 600;
        padding-bottom: 10px; }
    .contact-section .contact-section__containers .contact-section__containers-follow {
      padding-right: 252px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0px;
      gap: 36px 24px; }
      .contact-section .contact-section__containers .contact-section__containers-follow h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        grid-column: 1/5; }

footer {
  background: #333333;
  max-width: 1704px;
  padding: 13px 108px 14px 108px;
  margin: 0 auto; }
  footer .footer-text {
    color: #FEFEFE;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .footer-text a:first-child {
      padding-left: 108px; }
    footer .footer-text a:nth-child(2) {
      margin-left: auto; }
    footer .footer-text a:last-child {
      padding-right: 108px;
      padding-left: 36px; }

* {
  margin: 0;
  font-family: "Raleway", sans-serif; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit; }

/*# sourceMappingURL=style.css.map */
