@import 'typography/typography'
@import 'themes/themes'
@import 'layout/navigation'
@import 'layout/banner'
@import 'layout/card-section'
@import 'layout/energy-section'
@import 'layout/submit-section'
@import 'layout/contact-section'
@import 'layout/footer'

*
    margin: 0
    font-family: 'Raleway', sans-serif

a:hover, a:visited, a:link, a:active
        text-decoration: none
        color: inherit

ul 
    list-style-type: none




    


                




                
        
    
