.banner
    background-image: url(../images/intro-banner.png)
    background-repeat: no-repeat 
    height: 640px
    object-fit: contain
    display: flex
    flex-direction: row
    align-items: center
    max-width: 1920px
    margin: 0 auto
    .banner__hero
        width: 627px
        max-width: 627px
        height: 228px
        background: $green
        margin-left: 196px 
        
    .hero__textContainer
        width: 595px
        max-width: 595px
        height: 228px
        margin-left: 32px
        background: $gray
        color: white
        padding-left: 24px
        padding-right: 19px
        font-weight: 400
        font-size: 18px
        line-height: 21px

        .hero__textContainer-title
            padding-top: 32px
            padding-bottom: 24px
            font-weight: 600
            font-size: 48px
            line-height: 56px