.energy-section
    background: $gray
    color: $white
    max-width: 120rem
    margin: 0 auto
    padding-bottom: 6rem
    h1
        text-align: center
        font-size: 3rem
        line-height: 3.5rem
        padding: 4rem 0px 7.313rem 0px

    .energy-section__container
        display: flex
        //grid-template-columns: 1fr 1fr
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
        gap: 8rem 0px
        padding-bottom: 6rem
        max-width: 106.5rem
        margin: 0 auto

    
        .container__image-one
            width: 43.5rem
            height: 30rem
            background: $green

        .container__text
            max-width: 43.5rem
            p
                padding-bottom: 0.75rem
                line-height: 1.321rem
                font-size: 1.125rem
            
            h2 
                font-size: 2rem
                line-height: 2.625rem
                padding-bottom: 0.75rem

        .container__text:first-child
            //112px+32px je udaljenost od blokova
            padding-left: 9rem
        
        #container__text-two
            padding-right: 9rem

        .container__image-two
            width: 43.5rem
            height: 30rem
            background: $green
            img
                padding-left: 2rem


    .energy-section__button
        display: flex
        justify-content: center
        button
            font-size: 1.125rem
            line-height: 1.313rem
            text-align: center
            background: $green
            border-radius: 0.75rem
            border: none
            width: 16.5rem
            height: 4.5rem
            cursor: pointer
    
            p 
                font-weight: 700
                font-size: 1.125rem
                line-height: 1.313rem
                text-align: center
                text-transform: uppercase
                color: $gray