.energy-section
    background: $gray
    color: $white
    max-width: 120rem
    margin: 0 auto
    padding-bottom: 6rem
    

    @include mobile-device
        padding-bottom: 3rem
        overflow-x: hidden
    @include tablet-device
        padding-bottom: 4rem
        overflow-x: hidden

    h1
        text-align: center
        font-size: 3rem
        line-height: 3.5rem
        padding: 4rem 0px 7.313rem 0px
        @include mobile-device
            padding: 3rem 0 2.375rem 0
            font-weight: 700
            font-size: 2.25rem
            line-height: 2.625rem
        @include tablet-device
            padding: 3rem 0 2.375rem 0
            font-weight: 700
            font-size: 2.25rem
            line-height: 2.625rem

    .energy-section__container
        display: flex
        //grid-template-columns: 1fr 1fr
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
        gap: 8rem 0px
        padding-bottom: 6rem
        max-width: 106.5rem
        margin: 0 auto

        @include mobile-device
            flex-flow: column wrap
            align-items: flex-start
            gap: 1.8125rem 0
            padding-bottom: 0rem
        @include tablet-device
            flex-flow: column wrap
            align-items: flex-start
            gap: 1.8125rem 0
            padding-bottom: 0rem

    
        .container__image-one
            width: 43.5rem
            height: 30rem
            background: $green

            img 
                min-width: 23.4375rem
                min-height: 22.5rem

                @include tablet-device
                    order: 0
                    min-width: 100%
                    padding-bottom: 12vh
                    padding-right: 3rem // For image size

            @include tablet-device
                    order: 0
                    min-width: 100%
                    padding-bottom: 12vh
            @media (min-width: 779px) and ( max-width: 1024px )
                    padding-bottom: 24vh
            @media (min-width: 850px) and ( max-width: 1024px )
                    padding-bottom: 32vh
            @media (min-width: 912px) and ( max-width: 1024px )
                    padding-bottom: 40vh
            @media (min-width: 991px) and ( max-width: 1024px )
                    padding-bottom: 45vh
                
            @include mobile-device
                order: 0
                min-width: 23.4375rem
                min-height: 23.4375rem
                padding-bottom: 1rem
                padding-right: 3rem // For image size

        .container__text
            max-width: 43.5rem
            @include tablet-device
                margin: 0 auto
            p
                padding-bottom: 0.75rem
                line-height: 1.321rem
                font-size: 1.125rem
                
            
            h2 
                font-size: 2rem
                line-height: 2.625rem
                padding-bottom: 0.75rem
                @include mobile-device
                    text-align: center
                @include tablet-device
                    text-align: center

        .container__text:first-child
            //112px+32px je udaljenost od blokova
            padding-left: 9rem
            @include mobile-device
                order: 1
                padding: 0 2rem 0 2rem 
            @include tablet-device
                order: 1
                padding: 0 2rem 0 2rem 
        
        
        #container__text-two
            padding: 0 9rem 0 0
            @include mobile-device
                order: 3
                padding: 0 2rem 0 2rem
            @include tablet-device
                order: 3
                padding: 0 2rem 4rem 2rem
                margin: 0 auto

        .container__image-two
            width: 43.5rem
            height: 30rem
            background: $green
            img
                padding-left: 2rem
                @include mobile-device
                    min-width: 23.4375rem
                    padding-left: 0rem
                
                @include tablet-device
                    min-width: 100%
                    padding-left: 0rem
                    object-fit: cover

            @include mobile-device
                order: 2
                min-width: 23.4375rem
                padding-bottom: 1rem
                padding-right: 3rem // For image size
            
            @include tablet-device
                order: 2
                min-width: 100%
                padding-bottom: 12vh
                padding-right: 3rem // For image size
                @media (min-width: 779px) and ( max-width: 1024px )
                    padding-bottom: 24vh
                @media (min-width: 850px) and ( max-width: 1024px )
                        padding-bottom: 32vh
                @media (min-width: 912px) and ( max-width: 1024px )
                        padding-bottom: 40vh
                @media (min-width: 991px) and ( max-width: 1024px )
                        padding-bottom: 45vh
                


    .energy-section__button
        display: flex
        justify-content: center

        @include mobile-device
            display: none

        button
            font-size: 1.125rem
            line-height: 1.313rem
            text-align: center
            background: $green
            border-radius: 0.75rem
            border: none
            width: 16.5rem
            height: 4.5rem
            cursor: pointer
    
            p 
                font-weight: 700
                font-size: 1.125rem
                line-height: 1.313rem
                text-align: center
                text-transform: uppercase
                color: $gray