.energy-section
    background: $gray
    color: $white
    max-width: 1920px
    margin: 0 auto
    h1
        text-align: center
        padding: 64px 0px 117px 0px

    .energy-section__container
        display: grid
        grid-template-columns: 1fr 1fr
        margin: 0 auto
        justify-items: center
        align-items: center
        gap: 128px 0px
        padding-bottom: 96px

    
        .energy-section__container-imageOne
            width: 696px
            height: 480px
            background: $green

        .energy-section__container-text
            width: 696px
            max-width: 696px
            p
                padding-bottom: 12px
                line-height: 21.13px
                font-size: 18px
            
            h2 
                font-size: 36px
                line-height: 42px
                padding-bottom: 12px

        .energy-section__container-text:first-child
            padding-left: 252px
        
        #energy-section__container-text2
            padding-right: 252px

        .energy-section__container-imageTwo
            width: 696px
            height: 480px
            background: $green
            img
                margin-left: 32px
        
        button
            font-size: 18px
            line-height: 21px
            text-align: center
            background: $green
            border-radius: 12px
            border: none
            width: 264px
            height: 72px
            grid-column: 1 / 3
            cursor: pointer
    
            p 
                font-weight: 700
                font-size: 18px
                line-height: 21px
                text-align: center
                text-transform: uppercase
                color: $gray
