footer
    background: $gray
    // 1920px - 108px - 108px = 1704px = 106.5rem
    max-width: 106.5rem
    padding: 0.813rem 6.75rem 0.875rem 6.75rem
    margin: 0 auto
    .footer-text
        color: $white
        font-weight: 400
        font-size: 1.125rem
        line-height: 1.313rem
        display: flex
        flex-direction: row
        align-items: center

        a:first-child
            padding-left: 6.75rem
        
        a:nth-child(2)
            margin-left: auto
        
        a:last-child
            padding-right: 6.75rem
            padding-left: 2rem
            