
.submit-section
    display: flex
    flex-direction: column
    align-items: center
    padding: 16.375rem 0 7.5rem 0 //262px 0 120px 0
    color: $gray
    max-width: 1920px
    margin: 0 auto
    overflow: hidden
    @include mobile-device
        padding: 3rem 0 3rem 0
    @include tablet-device
        padding: 5rem 0 5rem 0

    button 
        border-radius: 50%
        background: $green
        border: none
        width: 6.25rem //100px
        height: 6.25rem
        cursor: pointer
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25)

        @include mobile-device
            background: $white
        
        @include tablet-device
            background: $white

    .glide
            height: 640px
        .glide__slides
            height: 19.5rem
            .glide_slide
                height: 19.5rem
                img
                    object-fit: cover
                    width: 100%
                    height: 100%

            img
                width: 100%
                object-fit: cover

        h2
            text-align: center
            font-weight: 700
            font-size: 2.25rem
            line-height: 2.625rem
            text-align: center
            padding-bottom: 2.875rem
            @include desktop-device
                display: none

        .glide__arrows
            display: flex
            flex-flow: row wrap
            align-content: center
    
                

    h1
        padding-top: 7.5rem
        font-weight: 700
        font-size: 3rem
        line-height: 3.5rem
        padding-bottom: 1.5rem
        @include mobile-device
            padding-top: 3rem
            font-size: 2.25rem
            line-height: 2.625rem
        @include tablet-device
            padding-top: 3rem
            font-size: 2.25rem
            line-height: 2.625rem
    
    p
        font-weight: 500
        font-size: 1.5rem
        line-height: 1.75rem    
        @include mobile-device
            font-size: 1rem
            line-height: 1.1875rem
            padding: 0 2rem 0 2rem
        @include tablet-device
            font-size: 1rem
            line-height: 1.1875rem
            padding: 0 2rem 0 2rem
    
    .submit-section__text
        max-width: 52.5rem
        text-align: center
        padding-bottom: 4.375rem

    .submit-section__submit
        width: 41.75rem
        //696px je dugačak element, no zbog paddinga je manji (20px+8px+668px=696px)
        max-width: 41.75rem
        height: 4rem
        background: $white
        border: 1px solid $white
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25)
        border-radius: 0.75rem
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 0 0.5rem 0 1.25rem

        @include mobile-device
            width: 19.5rem
            height: 3rem
            padding: 0 0rem 0 .5625rem 
            box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.25)
            border-radius: .75rem
        
        @include tablet-device
            width: 19.5rem
            height: 3rem
            padding: 0 0rem 0 .5625rem 
            box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.25)
            border-radius: .75rem

        .submit-section__submit-input
            font-style: italic
            font-weight: 400
            font-size: 1.125rem
            line-height: 1.313rem
            border: none
            @include mobile-device
                font-size: 1rem
                line-height: 1.1875rem
            @include tablet-device
                font-size: 1rem
                line-height: 1.1875rem
        
        input
            outline: none  
            width: 23.75rem
            @include mobile-device
                width: 9.9375rem
                padding-right: 2.625rem
            @include tablet-device
                width: 9.9375rem
                padding-right: 2.625rem

        .submit-section__submit-button
            background: $green
            border-radius: 0.75rem
            cursor: pointer 
            border: none
            width: 7.5rem
            height: 3rem
            @include mobile-device
                border-radius: 0px .75rem .75rem 0px
                //width: 6.375rem
                width: 100%
                height: 105%
                display: flex
                flex-flow: row wrap
                justify-content: center
                align-items: center
            
            @include tablet-device
                border-radius: 0px .75rem .75rem 0px
                //width: 6.375rem
                width: 100%
                height: 105%
                display: flex
                flex-flow: row wrap
                justify-content: center
                align-items: center

            p
                color: $gray
                font-weight: 700
                font-size: 1.5rem
                line-height: 1.75rem    
                text-align: center
                text-transform: uppercase
                @include mobile-device
                    font-size: 1.125rem
                    line-height: 1.3125rem