.submit-section
    display: flex
    flex-direction: column
    align-items: center 
    padding: 7.5rem 0 7.5rem 0
    color: $gray
    h1
        font-weight: 700
        font-size: 3rem
        line-height: 3.5rem
        padding-bottom: 1.5rem
    
    p
        font-weight: 500
        font-size: 1.5rem
        line-height: 1.75rem    
    
    .submit-section__text
        max-width: 52.5rem
        text-align: center
        padding-bottom: 4.375rem

    .submit-section__submit
        width: 41.75rem
        //696px je dugačak element, no zbog paddinga je manji (20px+8px+668px=696px)
        max-width: 41.75rem
        height: 4rem
        background: $white
        border: 1px solid $white
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25)
        border-radius: 0.75rem
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 0 0.5rem 0 1.25rem

        .submit-section__submit-input
            font-style: italic
            font-weight: 400
            font-size: 1.125rem
            line-height: 1.313rem
            border: none
        
        input
            outline: none  
            width: 23.75rem

        .submit-section__submit-button
            background: $green
            border-radius: 0.75rem
            cursor: pointer 
            border: none
            width: 8rem
            height: 3rem
            p
                color: $gray
                font-weight: 700
                font-size: 1.5rem
                line-height: 1.75rem    
                text-align: center
                text-transform: uppercase
